<div class="overlay-intro"></div>
<section id="home" class="landing bg-image">
  <div class="text-center position-absolute top-50 start-50 translate-middle">
    <img class="d-block mx-auto mb-4 img-enigma" src="/assets/icon/android-chrome-512x512.png" alt="Phi">
    <h1 class="display-5 fw-bold landing-title">Crops won't grow by itself.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead landing-subtitle">Plant your funds with us</p>
      <p class="lead landing-subtitle">And let them grow!!!</p>
    </div>
    <div class="col-lg-6 mx-auto my-auto typewriter">
      <p class="lead mb-4 landing-subtitle">join now:@news.asix.ltd</p>
    </div>
    <a class="home-btn start-investing" routerLink="/getting-started">Start Here</a>
  </div>
</section>
