<section id="about" class="about sect-pt4">
  <div class="container rounded">
    <div class="row">
      <div class="col-sm-12 box-shadow-full p-5">
        <div class="row">
          <div class="col-md-6 bg-theme rounded">
            <div class="row p-3">
              <div class="col-lg-5 col-md-12 col-sm-5 mb-2">
                <img
                  class="rounded pass-photo"
                  src="../../../../assets/icon/android-chrome-512x512.png"
                  alt=""
                />
              </div>
              <div class="col-lg-7 col-md-12 col-sm-7">
                <p class="text-uppercase text-center">
                  <span><strong>news-asix Ltd.</strong></span>
                </p>
                <p class="p-2">
                  <span><strong>Type: </strong></span>
                  <span>Public Limited</span>
                </p>
                <p class="p-2">
                  <span><strong>Since: </strong></span>
                  <span>2022</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="about-title position-relative mb-5 text-center">About</h3>
            <p>
              Established in 2022 under the name news-asix Ltd. and registered in IDX with registration code IDX-042/LX/2022, 
              news-asix continues to be committed to provide guidance for the potential investors and curent investors around the world.
            </p>
            <p>
              News-asix continuously innovating and providing easy, 
              safe and reliable investment services and experiences for investors through world-class 
              technology to facilitate the public in investing easily, capital market through modern online stock trading service.
              Through our latest investment application, 
              investors can discuss as well as conduct online stock transactions. 
              This provide a means for newbies to interact and gain experiences from their seniors.
              This app can be downloaded via Playstore and Appstore.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
