<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Service</h2>
        <p>Here are some of our services.</p>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <a href="/trade" class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-server"></i>
                </span>
              </a>
              <div class="service-content mt-3">
                <h2>Stock Trade</h2>
                <p>
                You can buy or sell stocks to and from your account, by using our trading platform. 
                Price graphs and summaries are also available.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <a href="/learn" class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-book"></i>
                </span>
              </a>
              <div class="service-content mt-3">
                <h2>Learning Material</h2>
                <p>
                  You can find a lot of information and guides from source material which presented in an interactive and innovative way.
                  These materials are written by influental stock traders in our time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <a href="/forum" class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-chat-left-text"></i>
                </span>
              </a>
              <div class="service-content mt-3">
                <h2>Discussion Forum</h2>
                <p>
                  Meet traders from the world without boundaries and discuss your thought with them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
