<section id="crypto" class="crypto sect-pt4 mt-5">
    <div class="container-md shadow-lg my-md-2 mx-auto">
      <div class="row">
        <!-- LEFT SIDE CONTENT-->
        <aside class="col-sm-4 bg-theme text-black rounded">
          <div class="row justify-content-center">
            <div class="col-sm-10">
              <h2 class="fs-7 pt-5">Crypto News Index</h2>
            </div>
          </div>
          <ul class="row justify-content-center">
            <div class="col-sm-10">
              <li class="fs-5"><a href="/news/crypto">Today News</a></li>
              <li class="fs-5"><a href="/news/crypto">Tomorrow News</a></li>
              <li class="fs-5"><a href="/news/crypto">Yesterday News</a></li>
              <li class="fs-5"><a href="/news/crypto">Future News</a></li>
              <li class="fs-5"><a href="/news/crypto">Past News</a></li>
            </div>
          </ul>
        </aside>
  
        <section class="col-sm-8 ps-5 pe-4 py-4 rounded bg-white">
          <div class="row mb-5">
            <div class="col">
              <h2 class="text-enigma text-uppercase">Today News</h2>
              <hr class="col mb-4" />
              <p class="font-italic">Posted: today</p>
              <p class="font-italic">Author: The Writer</p>
              <p class="text-justify">
                In computer science, a cryptocurrency, crypto-currency, 
                or crypto is a digital currency that does not rely on any central authority to uphold or maintain it. 
                Instead, transaction and ownership data is stored in a digital ledger using distributed ledger technology, 
                typically a blockchain. However, when a cryptocurrency is issued by a single issuer or minted or created prior to issuance, 
                it is generally considered centralized.
              </p>
              <p class="text-justify">
                Despite the name, cryptocurrencies are not considered to be currencies in the traditional sense and while 
                varying treatments have been applied to them, including classification as commodities, securities, as well 
                as currencies, cryptocurrencies are generally viewed as a distinct asset class in practice. Unlike paper money, 
                cryptocurrency does not exist in physical form and is typically not issued by a central authority. 
                Cryptocurrencies typically use decentralized control as opposed to a central bank digital currency (CBDC). 
                Traditional asset classes like currencies, commodities, and stocks, as well as macroeconomic factors, 
                have modest exposures to cryptocurrency returns.
              </p>
              <p class="text-justify">
                The first modern cryptocurrency was Bitcoin, which first released as open-source software in 2009. 
                As of March 2022, there were more than 9,000 other cryptocurrencies in the marketplace, 
                of which more than 70 had a market capitalization exceeding $1 billion.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  